/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 10px 0; /* Reduced padding */
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #333;
}

.footer-logo h2 {
  font-size: 2em; /* Slightly reduced font size */
  color: #FFD700;
  font-weight: bold;
  margin-bottom: 5px; /* Further reduced margin */
}

.footer-nav {
  margin-bottom: 5px; /* Further reduced margin */
  z-index: 1;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: inline-flex;
}

.footer-links li {
  margin: 0 8px; /* Slightly reduced space between links */
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  color: #FFD700;
}

.footer-social {
  z-index: 1;
}

.footer-social p {
  font-size: 1em; /* Slightly reduced font size */
  font-weight: bold;
  margin-bottom: 5px; /* Further reduced margin */
}

.footer-social-icons {
  list-style: none;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  z-index: 1;
}

.footer-social-icons li {
  margin: 0 6px; /* Further reduced space between social icons */
}

.footer-social-icons a {
  font-size: 1.6em; /* Slightly reduced icon size */
}

.footer-social-icons .instagram {
  color: #EA4C89;
}

.footer-social-icons .facebook {
  color: #1877F2;
}

.footer-social-icons .twitter {
  color: #014d7c;
}

.footer-social-icons .github {
  color: #000;
}

.footer-social-icons .website {
  color: #FFD700;
}

.footer-copywright p {
  font-size: 0.8em; /* Slightly reduced font size */
  color: wheat;
  margin-top: 5px; /* Further reduced margin */
}
